* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  background: #f0f0f0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* ----------INICIO DO MENU PRINCIPAL------------- */
.menu-site{
  position: fixed;
  top: 0;
  left: 0;
  background: #f0f0f0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 2.5vw;
}

/* ----------INICIO DO MENU BOTÕES-------------- */
.menu-btn {
  width: 20px;
  height: 10px;
  position: relative;
  
}

.menu-btn span {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  transform: translateY(-50%);
  background: #000;
}

.menu-btn span:nth-child(1){
  top:0; 
}
.menu-btn span:nth-child(3){
  top:100%;
}

/* ----------ESTILIZAÇÃO DA LOGO YOUTUBE-------------- */
.logo {
  height: 30px;
  margin: -10px 30px 0;
} 

/* ----------ESTILIZAÇÃO DO BTN DE BUSCA-------------- */
.site {
  position: relative;
  margin: 10px auto;
  width: 50%;
  height: 35px;
  display: flex;
}

.busca {
  border-radius: 30px 0 0 30px;
  width: 85%;
  height: 100%;
  border: 1px solid #c4c3c3;
  padding: 0 20px;
  font-size: 16px;
}

.btn {
  border-radius: 0 30px 30px 0 ;
  width: 15%;
  height: 100%;
  background: #f0f0f0;
  border: 2px solid #c4c3c3;
  padding: 5px 0;
  border-left: none;
}

.btn img {
  height: 100%;
}

.usuario {
  height: 35px;
  display: flex;
  margin-left: auto;
}

.usuario .icone {
  height: 80%;
  margin-right: 20px;

}

.perfil_usr {
  height: 30px;
  width: 30px;
  overflow: hidden;
}

.perfil_usr img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border: 2px solid rgb(76, 75, 75);
  border-radius: 100%; 

}

a {
  text-decoration: none;

}
/* __________________SIDBAR DA PÁGINA___________________ */
.sidbar1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 60px;
}

.imagem_principal h3 {
  font-weight: 600;
  font-size: 20px;
}
.actions {
  display: flex;
  align-items: center;
  margin-top: 8px;  
}
 .actions > .barra_like{
  display: inline;
  width: 40px;
  height: 30px;
  margin-right: 90px;
  padding-inline: 30px;
}


.pg {
  flex-direction: row;
  padding-left: 40px;
  margin-top: -20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
  width: 120px;
  padding: 0px 25px 0px;
}
.paragrafo {
  font-size: 14px;
  width: 110px;
  padding: 0;
}


 .insc {
  width: 159px;
  height: 35px;
  border-radius: 5px;
  background: red;
  color: #f0f0f0;
  align-items: center;
}

.sidbar2 img {
  width: 160px;
  height: 90px;
}

.sidbar2 > div {
  display: flex;
  margin-bottom: 10px;
}

.p3 {
  width: 196px;
  height: 89px; 
  padding: 5px;
  margin-bottom: 5px; 
}
.p3 h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 16.41px;
  margin-top: -8px;
  color: rgb(47, 47, 47);
}
.p3 h5 {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  margin: 5px 0;
 
}
.p3 p {
  font-size: 10px;
  font-weight: 400;
  line-height: 14.06px;
  margin: -2px;
 
}
h5 {
  margin-top: 12px;
}

p {
  font-size: clamp(1em, 1em + .1vw, 1.5em);
}



@media (max-width: 600px) {
  .sidbar1 {
    grid-template-columns: 1fr;
  }

  .sidbar2 {
    flex: 1 0 200px;
    margin: 0 10px;
  }
}

